/*Drawer*/
.drawer-hamburger {
  position: absolute;
}

.drawer-nav {
  width: 14rem;
}
.drawer-nav li {
  line-height: 10px;
}
.drawer-nav li a {
  color: #555555;
  text-decoration: none;
}
.drawer-nav li a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav-category {
  color: #555555;
  line-height: 10px;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  background-color: white;
}

.drawer-nav {
  background-color: #fdfdfd;
}

/*Navbar*/
/*Top*/
.cover {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(224deg, #001cff, #008cff, #00d0ff, #00fdff, #00aeff, #0098ff, #0054ff, #0098ff, #00d0ff, #00fdff);
  background-size: 2000% 2000%;
  -webkit-animation: top-bg 13s ease infinite;
  -moz-animation: top-bg 13s ease infinite;
  animation: top-bg 13s ease infinite;
}

@-webkit-keyframes top-bg {
  0% {
    background-position: 92% 0%;
  }
  50% {
    background-position: 9% 100%;
  }
  100% {
    background-position: 92% 0%;
  }
}
@-moz-keyframes top-bg {
  0% {
    background-position: 92% 0%;
  }
  50% {
    background-position: 9% 100%;
  }
  100% {
    background-position: 92% 0%;
  }
}
@keyframes top-bg {
  0% {
    background-position: 92% 0%;
  }
  50% {
    background-position: 9% 100%;
  }
  100% {
    background-position: 92% 0%;
  }
}
.top-title {
  font-size: 30px;
  font-weight: 300;
}

.top-subtitle {
  font-size: 19px;
  font-weight: 200;
  font-family: 'Nunito', sans-serif;
  opacity: 0.9;
}

.words-cover {
  background-color: #fdfdfd;
}

.words {
  font-weight: 400;
  font-size: 20px;
  padding-top: 70px;
}

.words-by {
  font-style: italic;
  padding-bottom: 60px;
}

.fa-quote-left {
  opacity: 0.3;
  padding-bottom: 10px;
  padding-right: 5px;
}

.fa-quote-right {
  opacity: 0.3;
  padding-bottom: 10px;
  padding-left: 5px;
}

/* Slider */
#slider {
  background-color: #dcdcdc;
  padding-top: 50px;
}

.dg-container {
  width: 100%;
  height: 310px;
  position: relative;
  overflow: hidden;
}

.dg-wrapper {
  width: 150px;
  height: auto;
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -o-perspective: 500px;
  -ms-perspective: 500px;
  perspective: 500px;
}

.dg-wrapper a {
  width: 150px;
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent url(../images/browser.png) no-repeat top left;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.dg-wrapper a.dg-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.dg-wrapper a img {
  width: 150px;
  display: block;
  padding: 0px 0px 0px 0px;
}

.dg-wrapper a div {
  text-align: center;
  font-size: 14px;
  width: 160%;
  margin-left: -30%;
  bottom: -50px;
  display: none;
  position: absolute;
}

.dg-wrapper a.dg-center div {
  display: block;
}

#index {
  padding-top: 1px;
}
#index a {
  color: #555555;
}
#index p {
  color: #555555;
}

.index-title {
  font-size: 20px;
  color: #555555;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #919191;
  border-top: 1px solid #919191;
  margin-right: 30px;
  margin-left: 30px;
}

.box-shadow {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/*Tabs*/
.nav-tabs {
  margin-left: -10px;
  margin-right: -10px;
}

.nav-tabs > li > a {
  padding-left: 7px;
  padding-right: 7px;
  font-size: 13px;
}

/*New post*/
.post {
  border-bottom: 1px solid #dcdcdc;
}

.post-img {
  width: 35vw;
  margin-left: -10px;
}

.post-content {
  margin-left: -3vw;
}
.post-content p a {
  text-decoration: none;
}

.post-title {
  font-size: 14px;
  margin-bottom: 5px;
  padding-top: 5px;
}

.post-tag {
  font-size: 11px;
  padding: 2px 5px;
}

.post-text {
  font-size: 11px;
  margin-top: -10px;
  padding-bottom: 5px;
}

.post {
  padding-top: 1px;
}
.post a {
  color: #555555;
}
.post p {
  color: #555555;
}

#professor h4 {
  font-size: 20px;
  color: #4d4d4d;
  font-weight: 400;
  margin-top: -25px;
  margin-bottom: -10px;
}

#professor h5 {
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 20px;
}

#professor li {
  font-weight: 300;
}

.list-group-item {
  margin-top: -1px;
  cursor: pointer;
}

#category .list-group a {
  text-decoration: none;
}

#recommend {
  padding-top: 1px;
}
#recommend a {
  color: #555555;
}
#recommend p {
  color: #555555;
}

.recommend-title {
  color: #555555;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #919191;
  border-top: 1px solid #919191;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
}

footer {
  background-color: #c5c5c5;
}
footer p {
  font-weight: 300;
}
footer p a {
  color: white;
}
footer p a:hover {
  color: white;
}
footer .dropdown-toggle {
  color: white;
}
footer .dropdown a {
  font-weight: 300;
}

.subpages-title-cover {
  width: 100%;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(224deg, #001cff, #008cff, #00d0ff, #00fdff, #00aeff, #0098ff, #0054ff, #0098ff, #00d0ff, #00fdff);
  background-size: 2000% 2000%;
  -webkit-animation: top-bg 13s ease infinite;
  -moz-animation: top-bg 13s ease infinite;
  animation: top-bg 13s ease infinite;
}

@-webkit-keyframes top-bg {
  0% {
    background-position: 92% 0%;
  }
  50% {
    background-position: 9% 100%;
  }
  100% {
    background-position: 92% 0%;
  }
}
@-moz-keyframes top-bg {
  0% {
    background-position: 92% 0%;
  }
  50% {
    background-position: 9% 100%;
  }
  100% {
    background-position: 92% 0%;
  }
}
@keyframes top-bg {
  0% {
    background-position: 92% 0%;
  }
  50% {
    background-position: 9% 100%;
  }
  100% {
    background-position: 92% 0%;
  }
}
.subpages-title {
  font-weight: 300;
  font-size: 25px;
}

/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
