body{
	background-color: #fefefe;
}

/*Drawer*/
.drawer-hamburger {
  position: absolute;
}

.drawer-nav{
	width: 14rem;
	li{
		line-height: 10px;
		a{
			color: #555555;
			text-decoration: none;
			font-weight: 200;
			&:hover{
				text-decoration: none;
				background-color: #eeeeee;
			}
		}
	}
}

.drawer-brand{
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	margin-left: 5px;
}

.drawer-category a{
	font-size: 13px;
	line-height: 6px;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
	background-color: white;
}

.drawer-nav{
	background-color: #fdfdfd;
}

/*Navbar*/

//.navbar {
//  position: absolute;
//  left: 3px;
//}
//
//.navbar-dark .navbar-toggler {
//  border-color: rgba(255, 255, 255, 0);
//}
//
//.navbar-dark .navbar-toggler-icon {
//  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
//}
//
//.navbar-dark .navbar-nav .nav-link {
//  color: white;
//}
//
//.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
//  color: rgba(255, 255, 255, 0.75);
//}
//
//.navbar-dark .navbar-nav .nav-link.disabled {
//  color: white;
//}
//
//.navbar-expand-sm {
//  padding-left: 0px;
//}
//
//.nav-link.toggle {
//  margin-bottom: -15px;
//  margin-left: 3px;
//}
//
//.nav-item.toggle {
//  font-size: 14px;
//}
//
//.navbar-toggler {
//  padding: 0.25rem;
//}


/*Top*/

.cover {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
	
	background: linear-gradient(224deg, #001cff, #008cff, #00d0ff, #00fdff, #00aeff, #0098ff, #0054ff, #0098ff, #00d0ff, #00fdff);
	background-size: 2000% 2000%;

	-webkit-animation: top-bg 13s ease infinite;
	-moz-animation: top-bg 13s ease infinite;
	animation: top-bg 13s ease infinite;
}

@-webkit-keyframes top-bg {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@-moz-keyframes top-bg {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@keyframes top-bg { 
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}

.top-title{
	font-size: 30px;
	font-weight: 300;
	
}

.top-subtitle {
  font-size: 19px;
  font-weight: 200;
	font-family: 'Nunito', sans-serif;
	opacity: 0.9;
}

//Great words
.words-cover{
	background-color: #fdfdfd;
}

.words{
	font-size:23px;
	padding-top: 70px;
	font-weight: 100;
	font-style: italic;
	font-family: 'Dancing Script', cursive;
}

.words-by{
	font-style: italic;
	padding-bottom: 60px;
	margin-top: 10px;
	font-family: 'Dancing Script', cursive;
}


.fa-quote-left{
	opacity: 0.1;
	padding-bottom: 10px;
	padding-right: 5px;
}

.fa-quote-right{
	opacity: 0.1;
	padding-bottom: 10px;
	padding-left: 5px;
}


/* Slider */
#slider{
	background-color: #dcdcdc;
	padding-top: 50px;
}

.dg-container{
	width: 100%;
	height: 310px;
	position: relative;
	overflow: hidden;
}
.dg-wrapper{
	width: 150px;
	height: auto;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	-o-perspective: 500px;
	-ms-perspective: 500px;
	perspective: 500px;
}
.dg-wrapper a{
	width: 150px;
	height: auto;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url(../images/browser.png) no-repeat top left;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	width: 150px;
	display: block;
	padding: 0px 0px 0px 0px;
}
.dg-wrapper a div{
	text-align: center;
	font-size: 14px;
	width: 160%;
	margin-left: -30%;
	bottom: -50px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}

//Index
#index{
	padding-top: 1px;
	a{
		color: #555555;
	}
	p{
		color: #555555;
	}
}

.index-title{
	font-size: 20px;
	color: #555555;
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #919191;
	border-top: 1px solid #919191;
	margin-right: 30px;
	margin-left: 30px;
}

//Button
.box-shadow{
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}



/*Tabs*/

.nav-tabs {
  margin-left: -10px;
  margin-right: -10px;
}

.nav-tabs > li > a {
  padding-left: 0px;
  padding-right: 0px;
  font-size: 14px;
	font-family: 'Nunito', sans-serif;
}

/*New post*/

.post {
  border-bottom: 1px solid #dcdcdc;
	padding-bottom: 10px;
}

.post-img {
  width: 35vw;
  margin-left: -10px;
}

.post-content {
  margin-left: -3vw;
}

.post-title {
  font-size: 14px;
  margin-bottom: 5px;
	padding-top: 5px;
}

.post-tag {
  font-size: 11px;
  padding: 2px 5px;
}

.post-text {
  font-size: 11px;
  margin-top: -10px;
	padding-bottom: 5px;
}

.post{
	padding-top: 1px;
	a{
		color: #555555;
	}
	p{
		color: #555555;
	}
}

//Professor
#professor h4{
	font-size: 20px;
	color: #4d4d4d;
	font-weight: 400;
	margin-top: -25px;
	margin-bottom: -10px;
}

#professor h5{
	font-size: 18px;
	color: #4d4d4d;
	font-weight: 400;
	margin-top: 50px;
	margin-bottom: 20px;
}

#professor li{
	font-weight: 100;
}

//Category
.list-group-item{
	margin-top: -1px;
	cursor: pointer;
}

#category .list-group a{
	text-decoration: none;
}

//Recommend
#recommend{
	padding-top: 1px;
	margin-top: 50px;
	a{
		color: #555555;
	}
	p{
		color: #555555;
	}
}

.recommend-title{
	color: #555555;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #919191;
	border-top: 1px solid #919191;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 20px;
}

//Footer
footer{
	background-color: #b1b1b1;
	margin-top: 80px;
	p{
		font-weight: 300;
	}
	p a{
		color: white;
		&:hover{
			color: white;
		}
	}
	.dropdown-toggle{
		color:white;
	}
	.dropdown a{
		font-weight: 300;
	}
}

/*# sourceMappingURL=styles.css.map */
